@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    /* Set default font for body */
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:
        "Great Vibes", cursive !important; /* Added !important for testing */
    word-spacing: 0.2rem; /* Increased word spacing */
}

h1 {
    font-size: 3rem !important; /* Significantly increased font size for h1 */
}

h2 {
    font-size: 2rem !important; /* Significantly increased font size for h2 */
}
