@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    /* Set default font for body */
    font-family: "Open Sans", sans-serif;
    --bg-overlay: linear-gradient(
        rgba(197, 197, 197, 0.4),
        rgba(235, 235, 235, 0.7)
    );
    --bg-image: url("/images/hero.jpeg");
}

.dark {
    --bg-overlay: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:
        "Great Vibes", cursive !important; /* Added !important for testing */
    word-spacing: 0.2rem; /* Increased word spacing */
}

h1 {
    font-size: 3rem !important; /* Significantly increased font size for h1 */
}

h2 {
    font-size: 2rem !important; /* Significantly increased font size for h2 */
}

.VPHome {
    --vp-c-bg: transparent;
    background-image: var(--bg-overlay), var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 1rem;
    margin-bottom: 0rem !important;
}

.VPHomeFeatures div.item {
    opacity: 0.6;
}

.VPHome .main .heading {
    align-items: center;
}

.VPHome .main .heading .name.clip {
    font-size: 4rem;
}

.VPHome .main .heading .text {
    font-size: 2.5rem;
    margin-top: 2.5rem;
    line-height: 56px;
}

.VPHome .main .tagline {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.VPHome .main .actions {
    justify-content: center;
}
